/* ================================= 
                GLOBAL
==================================== */

* {
    box-sizing: border-box;
 
}

.stop-transition {
    transition: none;
}

body {
    font-family: "Karla", serif;
}

a {
    text-decoration: none;
    color: #141c3a;
}

ul {
     padding: 0;
}

li {
    list-style-type: none;
}

h1,
h2,
h3,
.header-subtitle-big,
.header-subtitle-small {
    margin: 0;
}

:root {
    --grey-dark: #141c3a;
    --grey: #505050;
    --grey-light: #B1B1B1;
}



/*––––––––––––––––––––HEADER––––––––––––––––––––*/
h1 {
    font-family: "ReenieBeanie", serif;
    font-size: 4rem;
    color: var(--grey-light);
    animation: from-up 800ms cubic-bezier(0.6, 1.5, 0.6, 0.9) 0ms;

}

h2 {
    font-family: "Rubik Bold", serif;
    letter-spacing: -1px;
    color: var(--grey-dark);
    font-size: 3rem;
    margin-bottom: 24px;
}

header h2,
.header-subtitle-big {
    animation: zero-opacity 800ms ease-in 0ms;

}

.header-subtitle-big {
    font-family: "Rubik Light", serif;
    color: var(--grey);
    font-size: 1.5rem;
}

header {
    height: 700px;
    padding: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.filip-images {
    display: flex;
    align-items: center;
}

header img {
    width: 180px;
    margin-top: 50px;
}

header img[alt*="coding"],
header img[alt*="messing"],
header img[alt*="calculating"] {
    animation-name: middle-img;
    animation-duration: 500ms;
    animation-timing-function: cubic-bezier(0.6, 1.5, 0.6, 1.2);
    transform: scale(0);
    animation-fill-mode: forwards;
}

header img[alt*="coding"] {
    animation-delay: 0ms;
}

header img[alt*="messing"] {
    margin-left: 40px;
    margin-right: 40px;
    animation-delay: 150ms;
}

header img[alt*="calculating"] {
    animation-delay: 300ms;
}



/*––––––––––––––––––––MAIN - PROJECTS––––––––––––––––––––*/
.projects {
    text-align: center;
    background-color: #dfdfdf86;
    padding: 100px 25px;
}

.projects-intro p {
    font-family: "Rubik Light", serif;
    color: var(--grey);
}

.projects-intro {
    margin-bottom: 100px;
}

.projects-intro h2 {
    font-size: 2rem;
    margin-bottom: 16px;
}

.project {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 90%;
    margin: 0 auto 100px;
    padding-bottom: 50px;
    background-color: rgb(255, 255, 255);
    position: relative;
    border-radius: 10px;
}

.project-number {
    position: absolute;
    background-color: var(--grey);
    font-size: 1.2rem;
    color: white;
    top: -3%;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
}

.project p {
    color: var(--grey);
    line-height: 1.4;
    margin-top: 5px;
    font-family: "Rubik Light", serif;
    max-width: 80%;
    margin-bottom: 0;
}

.link-in-desc {
    text-decoration: underline;
    color: var(--grey-dark);
}

.project-options {
    display: flex;
    justify-content: space-between;
    width: 320px;
    padding: 19px 0;
    text-transform: uppercase;
    font-family: "Rubik Regular", serif;
    position: relative;
}

.project-options a {
    background-color: var(--grey-light);
    color: white;
    padding: 10px 15px;
    border-radius: 30px;
    font-size: .8rem;
    transition: .3s cubic-bezier(0.6, 1.5, 0.6, 1);
}

.project-options a:hover {
    background-color: #404040;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.15), 0 4px 6px -2px rgba(0, 0, 0, 0.25);
}

.view-icon {
    position: absolute;
    opacity: 0;
    font-size: 1.2rem;
    left: 13px;
    bottom: 24px;
    transition-duration: .5s;
}

.project-options a:hover .view-icon {
    opacity: 1;
}

.download-icon {
    position: absolute;
    opacity: 0;
    font-size: 1.1rem;
    left: 286px;
    bottom: 26px;
    transition-duration: .5s;
}

.project-options a:hover .download-icon {
    opacity: 1;
}

.project-options a:nth-child(1):hover {
    padding-left: 40px;
}

.project-options a:nth-child(2):hover {
    padding-right: 40px;
}

.project img[src*="project"] {
    box-shadow: 0 14px 28px rgba(0,0,0,0.15), 0 10px 10px rgba(0,0,0,0.12);
    width: 350px;
    border-radius: 3px;
}

h3 {
    font-family: "Rubik Bold", serif;
    letter-spacing: -1px;
    color: var(--grey-dark);
    font-size: 1.5rem;
    margin-top: 40px;
}

.projects-list {
    display: grid;
    grid-template-columns: 500px 500px 500px;
    justify-content: center;
}

tt {
    font-size: 1.1rem;
    color: #141c3a;
    background-color: rgb(193, 221, 186);
}






/*––––––––––––––––––––FOOTER––––––––––––––––––––*/
footer {
    padding: 50px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer a:nth-child(1) {
    margin-right: 30px;
}

footer path {
    fill: var(--grey-light);
    transition: .3s cubic-bezier(0.6, 1.5, 0.6, 1);
}

footer svg:hover path {
    fill: var(--grey);
}

footer svg {
    transition: .3s cubic-bezier(0.6, 1.5, 0.6, 1);
}

footer svg:hover {
    transform: scale(1.4);
}
















/*––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––*/
/*––––––––––––––––––––––––––––SPECIALITIES––––––––––––––––––––––––––––*/
/*––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––*/

/*––––––––––––––––––KEYFRAMES––––––––––––––––––*/
@keyframes from-up {
    0% {
        transform: translateY(-300%);
    }

    100% {
        transform: translateY(0%);
    }
}

@keyframes zero-opacity {
    0% {
        opacity: 0;;
    }

    100% {
        opacity: 1;
    }
}

@keyframes middle-img {
    0% {
        transform: scale(0);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes right-img {
    0% {
        transform: scale(0);
    }

    100% {
        transform: scale(1);
    }
}

/*––––––––––––––––––FLOAT CLEARFIX––––––––––––––––––*/
.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

/*––––––––––––––––––––––––––––WEB FONTS––––––––––––––––––––––––––––*/
@font-face {
    font-family: "Rubik Regular";
    src: url('../fonts/Rubik/Rubik-Regular.ttf') format('truetype');
    font-weight: normal;
}

@font-face {
    font-family: "Rubik Light";
    src: url('../fonts/Rubik/Rubik-Light.ttf') format('truetype');
    font-weight: lighter;
}

@font-face {
    font-family: "Rubik Bold";
    src: url('../fonts/Rubik/Rubik-Bold.ttf') format('truetype');
    font-weight: bold;
}

@font-face {
    font-family: "Rubik Black";
    src: url('../fonts/Rubik/Rubik-Black.ttf') format('truetype');
    font-weight: black;
}

@font-face {
    font-family: "Karla";
    src: url('../fonts/Karla/Karla-Regular.ttf') format('truetype');
}

@font-face {
    font-family: "Karla Bold";
    src: url('../fonts/Karla/Karla-Bold.ttf') format('truetype');
    font-weight: bold;
}

@font-face {
    font-family: "Karla Italic";
    src: url('../fonts/Karla/Karla-Italic.ttf') format('truetype');
    font-style: italic;
}

@font-face {
    font-family: "ReenieBeanie";
    src: url('../fonts/ReenieBeanie/ReenieBeanie-Regular.ttf') format('truetype');
    font-weight: normal;
}


/*––––––––––––––––––MEDIA QUERIES––––––––––––––––––*/
@media (max-width: 1430px) {
    
    .projects-list {
        grid-template-columns: 500px 500px;
    }

}

@media (max-width: 940px) {
    
    .projects-list {
        grid-template-columns: 500px;
    }
}

@media (max-width: 700px) {
    
    header {
        height: 650px;
    }

    header img {
        width: 100px;
    }

    header img[alt*="messing"] {
        margin-left: 10px;
        margin-right: 10px;
    }

    .project-options a:nth-child(1):hover {
        padding-left: 15px;
    }

    .project-options a:nth-child(2):hover {
        padding-right: 15px;
    }

    .project-options a:hover .download-icon {
        opacity: 0;
    }

    .project-options a:hover .view-icon {
        opacity: 0;
    }

    .project-options {
        justify-content: space-around;
    }
}

@media (max-width: 430px) {
    
    header img {
        width: 90px;
    }

    .projects-list {
        grid-template-columns: 320px;
    }

    .project img[src*="project"] {
        width: 300px;
    }
}


















