/*––––––––––––––––––––––––––––––HEADER––––––––––––––––––––––––––––––*/
header {
	text-transform: uppercase;
	text-align: center;
	margin: 30px 0 0;
	font-family: "playfair", serif;
	font-size: 1.5rem;
}

header ul,
header li {
	display: inline-block;
	margin: 0;
	padding: 0;
}

header li {
	padding: 0 5px;
}

header a {
	text-decoration: none;
}

a:visited,
a:link {
	color: black;
}

header a:hover {
	border-bottom: 3px solid #2C6F26;
}




/*––––––––––––––––––––––––––––––MAIN––––––––––––––––––––––––––––––*/
h2 {
	font-family: "playfair-bold", serif;
	font-size: 2rem;
	color: #2C6F26;
	padding-top: 50px;
}

p {
	font-family: "alice", serif;
	font-size: 1.1rem;
	color: #484848;
}

.all-poems {
	text-align: center;
	margin-top: 30px;
}

.poem {
	max-width: 500px;
	display: inline-block;
	margin: 0 50px;
	text-align: left;
	vertical-align: top;
}

/*––––––––––––––––––––––––––––––FOOTER––––––––––––––––––––––––––––––*/
footer {
	text-align: center;
	margin: 100px 0;
}

footer img {
	width: 100px;
}




/*––––––––––––––––––––––––––––––MEDIA QUERIES––––––––––––––––––––––––––––––*/
@media (max-width: 866px) {
	h2 {
		text-align: center;
		margin-top: 0;
	}

	header {
		margin-top: 100px;
	}
}


@media (min-width: 700px) and (max-width: 800px) and (orientation: landscape) {
	.poem {
		max-width: 265px;
	}
}





/*––––––––––––––––––––––––––––––FONTS––––––––––––––––––––––––––––––*/
@font-face {
    font-family: "playfair";
    src: url("../fonts/playfairdisplay/PlayfairDisplay-Regular.ttf");
}

@font-face {
    font-family: "playfair-bold";
    src: url("../fonts/playfairdisplay/PlayfairDisplay-Bold.ttf");
    font-weight: bold;
}

@font-face {
    font-family: "playfair-italic";
    src: url("../fonts/playfairdisplay/PlayfairDisplay-Italic.ttf");
    font-style: italic;
}

@font-face {
    font-family: "alice";
    src: url("../fonts/alice/Alice-Regular.ttf");
}


