c/* ================================= 
                GLOBAL
==================================== */
.stop-transition {
    transition: none;
}

* {
    box-sizing: border-box; 
}

body {
	font-family: 'Josefin', sans-serif;
}

a {
    text-decoration: none;
}

ul {
     padding: 0;
     margin: 0;
}

p {
    margin: 0;
    padding: 0;
}

li {
    list-style-type: none;
}

h1,
h2,
h3,
h4,
h5 {
    margin: 0;
    font-family: 'Josefin Bold', serif;
}

:root {
	--orange-dark: #a37126;
    --orange-light: #cf9e53;
    --grey-dark: #3b3b3b;
    --grey: #8b8b8b;
    --grey-light: #e9e9e9;
    --header-margin: 50px;
}


/*––––––––––––––––––––HEADER––––––––––––––––––––*/
html {
    animation: header 2s cubic-bezier(0.6, 1.5, 0.6, 1.2);
}

header {
    background: url('../img/header-img.jpg') no-repeat center / cover;
    height: 700px;
}

header nav {
    padding-top: 50px;
    display: flex;
    justify-content: space-between;
}

header ul {
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    flex-direction: column;
    margin-right: var(--header-margin);
    font-family: "Josefin Bold", sans-serif;
}

header nav li {
    margin-bottom: 13px;
    text-shadow: 1px 1px 6px rgba(255, 255, 255, 0.925);
}

header nav a {
    color: var(--orange-light);
    font-size: 1.1rem;
}

header nav a:hover {
    color: var(--orange-dark);
}

.header-icon {
    position: absolute;
    right: 0px;
    opacity: 0;
    transition: .3s ease-out;
    transform: scale(0);
}

header nav a:hover .header-icon {
    opacity: 1;
    right: 20px;
    transform: scale(1);
}

nav p {
    margin: 0;
    margin-left: var(--header-margin);
    font-family: "Cormorant", sans-serif;
    color: var(--grey-dark);
    font-size: 1rem;
    text-align: left;
    line-height: 1.4;
}

.header-title {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 80px;
    animation: title 1.5s ease-in;
}

h1 {
    color: rgba(255, 255, 255, 0.952);
    font-size: 8rem;
    letter-spacing: 7px;
    text-align: center;
}

h1 span {
    font-size: calc(8rem + 15%);
}

h2 {
    font-size: 1.7rem;
    margin: 0;
    letter-spacing: .55px;
    font-family: "Cormorant", serif;
    text-align: center;
    color: rgba(255, 255, 255, 0.897);
}

.button-main {
    color: white;
    border-radius: 0px;
    background-color: #808080;
    font-size: 1.3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Josefin Bold", sans-serif;
    margin-top: 27px;
    padding: 10px 30px;
    border-radius: 100px;
    transition: .5s cubic-bezier(.51,.92,.24,1.15);
}

.button-main:hover {
    background-color: var(--orange-dark);
    transform: scale(1.1);
}

.photo-info {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    margin: -20px 20px 0 0;
    position: relative;
}

.photo-note {
    position: absolute;
    bottom: 83px;
    right: 65px;
    color: #afafaf;
    font-size: 1.1rem;
    text-align: right;
}

.photo-note i {
    font-size: 2rem;
    position: relative;
    top: 7px;
    left: 10px;
    color: #afafaf;
}

.photo-info-nr {
    font-family: "Cormorant Italic", serif;
    font-style: italic;
    font-size: 2.8rem;
    background-color: var(--grey-light);
    padding: 5px;
    margin-bottom: 7px;
    color: var(--grey-dark);
    box-shadow: 0 14px 28px rgba(0,0,0,0.15), 0 10px 10px rgba(0,0,0,0.12);
}

.photo-info-detail p {
    margin-top: 4px;
    text-align: right;
}

.photo-info-detail {
    opacity: 0;
    transition: .3s;
    color: var(--grey-dark);
}

.photo-info-nr:hover ~ .photo-info-detail {
    opacity: 1;
}





/*––––––––––––––––––––MAIN - INTRO––––––––––––––––––––*/
.intro {
    width: 700px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    line-height: 1.4;
}

.intro-first-p {
    font-family: "Cormorant Italic", serif;
    font-style: italic;
    text-align: center;
    color: var(--grey-dark);
    font-size: 1.6rem;
}

.intro-quote {
    position: relative;
    background-color: var(--grey-light);
    padding: 50px;
    margin: 130px 0px;
    width: calc(700px - 17%);
    border-bottom: 3px solid var(--grey);
    font-size: 1.3rem;
    color: var(--grey);
}

.intro-quote span {
    font-family: "Cormorant Italic", serif;
    font-style: italic;
    text-align: center;
    display: inline-block;
    font-size: calc(1.3rem + 23%);
    padding: 80px 0 60px;
    color: var(--grey-dark);
    margin: 0 -40px;
}

.intro-quote img {
    position: absolute;
    opacity: 0.15;
    width: 200px;
    left: 33%;
    bottom: 19%;
}


/*––––––––––––––––––––MAIN - BERCHTESGADEN––––––––––––––––––––*/
.region-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 1100px;
    max-width: 90%;
    margin: 0 auto 50px;
}

h3 {
    font-size: 3rem;
    text-align: center;
    color: var(--grey-dark);
    border-bottom: 4px solid var(--orange-light);
    padding: 0px 40px 5px;
    margin-bottom: 15px;
}

.region-title p {
    font-family: "Cormorant Italic", serif;
    font-style: italic;
    text-align: center;
    font-size: 1.6rem;
    color: var(--grey);
}

.spot {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    margin: 0 auto;
}

.spot-photo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.spot-photo img {
    width: 450px;
    max-width: 90%;
}

.photo-info {
    align-self: flex-end;
}

.spot-detail {
    max-width: 300px;
    margin: -120px 0 0 30px;
}

h4 {
    font-size: 1.5rem;
    margin-bottom: 10px;
    color: var(--grey-dark);
}

.spot-detail p {
    font-size: 1.1rem;
    color: var(--grey);
    line-height: 1.4;
}




/*––––––––––––––––––––FOOTER––––––––––––––––––––*/















/*––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––*/
/*––––––––––––––––––––––––––––SPECIALITIES––––––––––––––––––––––––––––*/
/*––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––*/

/*––––––––––––––––––KEYFRAMES––––––––––––––––––*/
@keyframes header {
    0% {
        opacity: 30%;
    }

    100% {
        opacity: 100%;
    }
}

@keyframes title {
    0% {
        opacity: 0%;
    }

    100% {
        opacity: 100%;
    }
}

/*––––––––––––––––––FLOAT CLEARFIX––––––––––––––––––*/
.clearfix:after {
	content: "";
	display: table;
	clear: both;
}

/*––––––––––––––––––––––––––––WEB FONTS––––––––––––––––––––––––––––*/
@font-face {
    font-family: "Cormorant";
    src: url("../fonts/cormorant/CormorantGaramond-Regular.ttf");
}

@font-face {
    font-family: "Cormorant Bold";
    src: url("../fonts/cormorant/CormorantGaramond-Bold.ttf");
    font-weight: bold;
}

@font-face {
    font-family: "Cormorant Light";
    src: url("../fonts/cormorant/CormorantGaramond-Light.ttf");
    font-weight: bold;
}

@font-face {
    font-family: "Cormorant Italic";
    src: url("../fonts/cormorant/CormorantGaramond-Italic.ttf");
    font-style: italic;
}

@font-face {
    font-family: "Josefin";
    src: url("../fonts/josefinsans/JosefinSans.ttf");
}

@font-face {
    font-family: "Josefin Bold";
    src: url("../fonts/josefinsans/JosefinSans-Bold.ttf");
    font-weight: bold;
}

/*––––––––––––––––––MEDIA QUERIES––––––––––––––––––*/

@media (max-width: 750px) {
    
	h1 {
		font-size: 5rem;
	}

    h1 span {
        font-size: calc(5rem + 15%);
    }

	h2 {
		font-size: 1.4rem;
    }
    
    .button-main {
        font-size: 1.2rem;
    }

    .intro-first-p {
        margin-top: 100px;
    }

    .spot {
        flex-direction: column;
    }

    .photo-note {
        opacity: 0;
    }

    .photo-info-detail {
        opacity: 1;
    }

    .spot-detail {
        margin: 50px 0 0 0px;
    }
}


@media (max-width: 700px) {

    .intro {
        width: 480px;
    }
    
    .intro-quote {
        width: calc(480px - 17%);
    }
    
    .intro-quote img {
        width: 230px;
        left: 23%;
        bottom: 22%;
    }
}

@media (max-width: 480px) {
    
    :root {
        --header-margin: 20px;
    }

    .header-icon {
        display: none;
    }
    
	h1 {
		font-size: 3.8rem;
	}

    h1 span {
        font-size: calc(3.8rem + 15%);
    }

	h2 {
		font-size: 1.2rem;
    }
    
    .header-title {
        margin-top: 160px;
    }

    .button-main {
        font-size: 1.1rem;
        margin-top: 15px;
    }

    .intro {
        width: 400px;
    }
    
    .intro-quote {
        width: calc(400px - 17%);
    }
    
    .intro-quote img {
        left: 18%;
        bottom: 25%;
    }

    h3 {
        font-size: 2.3rem;
        padding: 0px 15px 5px;
    }

    .intro-first-p {
        font-size: 1.5rem;
    }
}


@media (max-width: 400px) {

    .intro {
        width: 350px;
    }

    .intro-quote {
        width: calc(350px - 17%);
    }

    .intro-quote img {
        width: 200px;
        left: 17%;
        bottom: 23%;
    }

    .intro-quote {
        font-size: 1.1rem;
    }

    .intro-quote span {
        font-size: calc(1.1rem + 20%);
    }
}


@media (max-width: 350px) {

    .intro {
        width: 320px;
    }

    .intro-quote {
        width: calc(320px - 17%);
    }

    .intro-quote img {
        left: 15%;
    }
}














